@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/* roots */
:root{
    --blCol: rgba(238, 238, 241, 0.5);
    --searchHover: rgba(217, 225, 233, 0.1);
    --shadow: 3px 2px 5px 7px rgba(49, 49, 49, 0.1);
    --colrd: red; 
}
/* reusables */
.px2{
    padding: 5px;
}
.p2{
    padding: 5px;
}
.colicon{
    color: var(--blCol);
}
.container{
    padding: 30px 10px;
    position: relative;
    /* height: 50vh; */
    /* width: 100%;
    margin: auto; */
}
.hovera:hover{
    background-color: var(--searchHover) ;
}
.top{
    border-bottom: 1px solid var(--blCol);
}
.flex{
    display: flex;
    align-items: center;
}
.absolute{
    position: absolute;
}
.auto{
    left: 0;
    right: 0;
    margin: auto;
}

/* style for main */


/* style for search form */

.search-box {
    border-radius: 5px;
    box-shadow: var(--shadow);
    }
    
    .search-box input{
    margin: 1px;
    width: 95%;
    min-height: 50px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    
    }
    
    #hold p {
        padding: 10px;
        font-size: 18px;
        text-transform: capitalize;
        width: 100%;
    }
    
    .hide{
        z-index: 2;
        width: 95%;
        visibility: hidden;
        cursor: pointer;
        color: white;
        background-color: rgba(68, 60, 60, 0.9);
        cursor: pointer;
    }
  .notfound{
      color: var(--colrd);
      position: absolute;
      text-align: center;
      background-color: var(--blCol);
      line-height: 40px;
      width: 150px;
      /* height: 30px; */
  }
    /*serch ends  */

    /* map starts */
    #map {
        position: absolute;
        /* top: 10px; */
        /* bottom: 0; */
        left: 0;
        right: 0;
        margin: auto;
        width: 95%; 
        height: 680px;
        object-fit: cover;
        /* height: 100%; */
        z-index: -1;
      }
     
/* weather */
.weathers{
    margin: 10px 0;
    visibility: hidden;
}
.weath{
    z-index: 2;
    max-width: 800px;
    width: 95%;
    justify-content: space-around;
    box-shadow: var(--shadow);
    background-color: rgba(255, 255, 255, 0.95);
    
}

.weath > div{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    line-height: 20px;
}

.weath > div b{
    font-size: 16px;
    padding: 2px 0;
    /* color: rgba(43, 72, 168, 0.8); */
}

.weath > div span{
    font-size: 16px;
}
.temLocBtn{
    background-color: wheat;
    padding: 2px 0;
    border-radius: 5px 0px;
    cursor: pointer;
}

.temLocBtn:hover{
    background-color: teal;
}

.lft{
    position: absolute;
    right: 1px;
    color: gray;
    
}
.rgt{
    visibility: hidden;
    z-index: 2;
    color: gray;
}
#iconImg img{
    width: 30px;
}
@media screen and (max-width: 280px){
    .weath{
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5px;
    }
    .weath > div{
        /* width: 90px; */
        align-items: center;
        line-height: 20px;
    }
    .lft{
        top: -30px;
        /* font-size: 20px; */
    }
    .temLocBtn{
        width: 35px;
    }
    .weath > div b{
        font-size: 14px;

    }

}
@media screen and (max-width: 700px){
    .weath > div span{
        font-size: 10px;
    }
    .weath > div b{
        font-size: 14px;
    }
    #map {
        /* width: 98%; */
        height: 500px;
        
      }

}
