*{
    margin: 0;
    box-sizing: border-box;
}
/* roots */
:root{
    --blCol: rgba(16, 16, 112,0.5);
    --searchHover: rgba(179, 177, 177, 0.2);
    --shadow: 3px 2px 5px 7px rgba(49, 49, 49, 0.1);
}
/* reusables */
.px2{
    padding: 0 5px;
}
.p2{
    padding: 5px;
}
.colblue{
    color: var(--blCol);
}
.container{
    padding: 30px;
}
.hovera:hover{
    background-color: var(--searchHover) ;
}
.top{
    border-bottom: 1px solid var(--blCol);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style for main */

/* style for search form */
.search-box {
    max-width: 500px;
    margin: 1px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    }
    
    .search-box input{
    width: 90%;
    min-height: 45px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    
    }
    
    #hold p {
        padding: 10px;
        font-size: 18px;
        text-transform: capitalize;
        width: 100%;
    }
    
    .hide{
        visibility: hidden;
        cursor: pointer;
    }
    /*serch ends  */